<div class="row">
    <div class="col">
        <h6>-x-</h6>
        <p>Votes</p>
    </div>
    <div class="col">
        <h6>{{ question.answer_set.count }}</h6>
        <p>Answers</p>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'askme:question' question.slug %}">{{ question.title }}</a>
        <br>
        {% for tag in question.tags.all %}
            <a class="btn btn-primary" role="button" href="{% url 'askme:search_tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div class="col col-sm-4">
        <span>Avatar</span>
        <span>{{ question.user.username }}</span>
        <p>Asked 10 min ago</p>
    </div>
</div>
<hr>
