{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap-reboot.min.css" %}">
    <title>Hasker</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="{% url 'askme:index' %}">Hasker</a>

            <form action="{% url 'askme:search' %}" method="get" class="form-inline my-2 my-lg-0" accept-charset="utf-8">
                <input class="form-control mr-sm-2"
                       type="text"
                       placeholder="Search or tag:Python"
                       aria-label="Search"
                       name="q"
                       value="{% if search_query %} {{ search_query }} {% endif %}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            {% if user.is_authenticated %}
                <div>
                    <img src="{{ user.photo_url }}" alt="" style="height: 50px">
                    <a href="{% url 'hasker_user:settings' %}">{{ user.username }}</a>
                    <a href="{% url 'hasker_user:logout' %}">
                        <img src="{% static 'askme/img/exit.png' %}" alt="">
                    </a>
                </div>
            {% else %}
                <a href="{% url 'hasker_user:login' %}">Log In</a><br>
                <a class="btn btn-primary" href="{% url 'hasker_user:signup' %}">Sign Up</a>
            {% endif %}
        </nav>
        <hr>

        <div class="row">
            <div class="col-sm-10">
                {% block content %}{% endblock content %}
            </div>
            <div class="col">
                {% if user.is_authenticated and not hide_ask_btn %}
                    <a class="btn btn-primary" role="button" href="{% url 'askme:ask' %}">Ask</a>
                {% endif %}
                <h4>Trending</h4>
                {% for top in top_questions %}
                    <p>
                        <a class="btn btn-primary" role="button" href="{% url 'askme:question' top.slug %}">{{ top.votes }}</a>
                        <span>{{ top.title }}</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static "askme/js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "askme/js/popper.min.js" %}"></script>
    <script src="{% static "askme/js/bootstrap.min.js" %}"></script>
    <script src="{% static "askme/js/bootstrap.bundle.min.js" %}"></script>

    {% block script %}{% endblock script %}
</body>
</html>