{% extends "askme/base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <h2>Log In</h2>
        <div class="form-group row">
            {% if form.username.errors %}
                <label class="col-sm-2 col-form-label"
                   for="{{ field.id_for_label }}">Username</label>
                <input type="text"
                       class="col-sm-3 form-control is-invalid"
                       name="username"
                       id="{{ field.id_for_label }}"
                       placeholder="Username">
                <div class="invalid-feedback">
                    {{ form.username.errors.0 }}
                </div>
            {% else %}
                <label class="col-sm-2 col-form-label"
                       for="{{ field.id_for_label }}">Username</label>
                <input type="text"
                       class="col-sm-3 form-control"
                       name="username"
                       id="{{ field.id_for_label }}"
                       placeholder="Username">
            {% endif %}
        </div>
        <div class="form-group row">
            {% if form.password.errors %}
                <label class="col-sm-2 col-form-label"
                   for="{{ field.id_for_label }}">Password</label>
                <input type="password"
                       class="col-sm-3 form-control is-invalid"
                       name="password"
                       id="{{ field.id_for_label }}"
                       placeholder="Password">
                <div class="invalid-feedback">
                    {{ form.password.errors.0 }}
                </div>
            {% else %}
                <label class="col-sm-2 col-form-label"
                       for="{{ field.id_for_label }}">Password</label>
                <input type="password"
                       class="col-sm-3 form-control"
                       name="password"
                       id="{{ field.id_for_label }}"
                       placeholder="Password">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
{% endblock content %}